@{
    ViewData["Title"] = "Home Page";
}

<section class="row d-flex justify-content-center align-content-center fondo espacio">
    <div class="my-2 py-2">
        <h1 class="display-1 text-center text-light">Mente Sana</h1>
    </div>
    <div>
        <h3 class="display-6 text-center text-light">Ven y conoce una de las mejores clinicas psicologicas de Guatemala </h3>
    </div>
</section>

<hr />
<section class="panel espacio">
    <div class="container text-center">
        <h1 class="display-4">¿Quienes Somos?</h1>
        <blockquote class="blockquote">
            Somos una comunidad de psicologos que estan esperando ayudarte a ser mejor en tu día a día, llevamos más de 10 años de experiencia
            y hemos sido reconocidos mundialmente por nuestras buenas practicas y experiencia aplicando metodos tan innovadores y culturales
            como lo hacia el gran Sigmund Freud. Hemos tratado con muchos pacientes que necesitan tratamientos tanto psicologicos como psiquiatricos
            a lo largo de los años con lo cual se nos ha recomendado a dar charlas, catedras e incluso terapias en hospitales, clinicas, colegios
            e incluso empresas, esto ha sido tanto nacional como internacionalmente.
        </blockquote>
    </div>
</section>
<hr />
<section class="panel espacio">
    <div class="container text-center mb-5">
        <h1 class="display-4 ">Nuestros Servicios</h1>
    </div>
    <div class="container">
        <div class="row row-cols-3 row-cols-md-3 row-cols-sm-1 g-4">
            <div class="col text-center">
                <div class="card carta-rosada carta">
                    <div class="card-body">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#f3acfe" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
                        </svg>
                        <h5 class="card-title fw-bold">Terapia Individual</h5>
                        <p class="card-text text-justify">Problemas de depresion, ansiedad, ansiedad social, falta de motivacion, etc...</p>
                        <a href="https://hospitalsanjuandedios.mspas.gob.gt/component/spsimpleportfolio/item/10-emergencia-de-adultos.html" class="btn boton-rosado">Ver más</a>
                    </div>
                </div>

            </div>
            <div class="col text-center">
                <div class="card carta-azul carta">
                    <div class="card-body">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#0542cb" class="bi bi-people-fill" viewBox="0 0 16 16">
                            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                        </svg>
                        <h5 class="card-title fw-bold">Terapia de Pareja</h5>
                        <p class="card-text text-justify">Problemas de comunicacion, peleas, divorcios, intimidad, etc...</p>
                        <a href="https://hospitalsanjuandedios.mspas.gob.gt/component/spsimpleportfolio/item/13-procedimientos-para-el-ingreso-de-pacientes-a-la-emerge.html" class="btn boton-azul">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col text-center">
                <div class="card carta-verde carta">
                    <div class="card-body">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#05fee8" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                        <h5 class="card-title fw-bold">Terapia Infantil</h5>
                        <p class="card-text text-justify">Problemas con los padres, rebeldia temprana, deficit de atencion, divorcios, etc...</p>
                        <a href="https://hospitalsanjuandedios.mspas.gob.gt/component/spsimpleportfolio/item/1-horario-de-visita.html" class="btn boton-verde">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr />
<section class="panel">
    <div class="row d-flex justify-content-center align-content-center fondo-2 espacio">
        <h1 class="display-1 text-center text-light">¿Qué Esperas?</h1>
        <h3 class="display-6 text-center text-light">Sumate a ser uno más de nuestros </h3>
        <div class="contador text-center">
            <div class="color_fondo" id="fondo_color">
            </div>
            <div class="numero display-3 text-light" id="numero">
            </div>
        </div>
        <h3 class="display-6 text-center text-light">pacientes </h3>
    </div>

</section>

<script>
    const color = document.getElementById('fondo_color')
    const numero = document.getElementById('numero')
    let cantidad = 0
    let tiempo = setInterval(() => {
        cantidad += 1
        numero.textContent = cantidad
        if (cantidad === 1000) {
            clearInterval(tiempo)
        }
    }, 5);
    (function () { // wait for document ready
        // init
        var controller = new ScrollMagic.Controller({
            globalSceneOptions: {
                triggerHook: 'onLeave',
                duration: "0%" // this works just fine with duration 0 as well
                // However with large numbers (>20) of pinned sections display errors can occur so every section should be unpinned once it's covered by the next section.
                // Normally 100% would work for this, but here 200% is used, as Panel 3 is shown for more than 100% of scrollheight due to the pause.
            }
        });
        // get all slides
        var slides = document.querySelectorAll("section.panel");
        // create scene for every slide
        for (var i = 0; i < slides.length; i++) {
            new ScrollMagic.Scene({
                triggerElement: slides[i]
            })
                .setPin(slides[i], { pushFollowers: false })
                .addIndicators() // add indicators (requires plugin)
                .addTo(controller);
        }
    });
</script>