html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.fondo {
    background-image: linear-gradient(to right, rgba(207, 150, 24, 0.4), rgba( 74, 101, 216, 0.4)),url(../img/bannerP1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 195vh;
    background-attachment: fixed;
}
.fondo-2 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba( 74, 101, 216, 0.4)),url(../img/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 195vh;
    background-attachment: fixed;
}
.fondo-create {
    background-image: linear-gradient(to right, rgba(207, 150, 24, 0.4), rgba( 145, 230, 21, 0.4)),url(../img/fondo-create.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height:115vh;
    width: 193vh;
    background-attachment: fixed;
}
.panel {
    height: 100%;
    width: 100%;
}
.espacio{
   margin-bottom: 50px;
}
.carta {
    display:grid;
    align-items:center;
    height:350px;
}
.carta-rosada {
    background-color:rgb(252,232,255);
}
.carta-azul {
    background-color: rgb(209,238,255);
}
.carta-verde {
    background-color:rgb(230,255,251);
}
.boton{

}
.boton-rosado {
    background-color: rgb(243,165,255) !important;
    color: white !important;
}
.boton-azul {
    background-color: rgb(1,60,194) !important;
    color: white !important;
}
.boton-verde {
    background-color: rgb(2,254,215) !important;
    color: white !important;
}

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}


